country_list__container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: auto;
}

.country_list__title {
  display: grid;
  grid-template-columns: 150px repeat(4, 1fr);
  border-radius: 10px;
  border: 1px solid black;
  margin-bottom: 20px;
  padding: 10px 0px;
}

.country_list__single_country {
  display: grid;
  grid-template-columns: 150px repeat(4, 1fr);
  background-color: #00ffff;
  border-radius: 10px;
  border: 2px solid black;
  margin-bottom: 10px;
  padding: 10px;
}

.country_list__flag {
  width: 100px;
  aspect-ratio: 16 / 9;
  justify-content: center;
}

.country_list__name_ascending,
.country_list__name,
.country_list__flag,
.country_list__region,
.country_list__population {
  display: flex;
  align-items: center;
}

.country_list__name_ascending {
  background-color: green;
}
.country_list__name_ascending:before {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  left: 500px;
  border: 10px solid transparent;
  border-top-color: black;
}