.list_head__container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-radius: 10px;
  border: 1px solid black;
  margin-bottom: 20px;
  padding: 20px 10px 20px;
  background-color: #d7d6d4;
  font-weight: bold;
}

.list_head__button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  width:fit-content;
}

.list_head__flag,
.list_head__name,
.list_head__population,
.list_head__region {
  display: flex;
  align-items: center;
}